
<form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">

  <lib-country-selector
  [allowedCountryCodes]="allowedCountryCode()"
  [countryListConfig]="config"
  [selectedCountryConfig]="selectedConfig"
  [loading]="loading()"
  [readonly]="readonly() || loading()"
  label="Country"
  [clearable]="!shouldCountryLocked()"
  [customNaming]="{ gb: 'United Kingdom'}"
  formControlName="country"
  (onCountryChange)="onCountryChange($event)"
  error="Country is required"
  [required]="true"
  ></lib-country-selector>
  <mat-form-field appearance="outline">
    <mat-label>username</mat-label>
    <input formControlName="username" matInput placeholder='username'>
    @if (validateControl('username') && hasError('username', 'required')) {
        <mat-error>
            User name is required
        </mat-error>
    }
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput type="password" placeholder='Enter your password'>
    @if (validateControl('password') && hasError('password', 'required')) {
        <mat-error>
            Password is required
        </mat-error>
    }
</mat-form-field>

<button type="submit" mat-raised-button color="primary" class="w-100" >Login</button>
</form>

<span>Selected Country: {{selectedCountry()?.name}}</span>
